
.mainBody {
    background-color: black;
    color: whitesmoke;
    font-family: Josefin Sans, sans-serif;
} 

.city{

    color:whitesmoke;
    display: flex;
}

.locationArticle{

    display:flex;
    border-style: solid;
    border-width: thin;

}

.fieldsets .active{
 
    background-color: antiquewhite;

}

.intLabels{

    display: flex;
    align-items: baseline;
    align-content: space-between;
    color:yellow;
    padding-right: 10px;
    padding-left: 5px;
    margin: 5px;

}
 

.intSections{

    display: flex;
    align-items: baseline;
    align-content: space-around, space-between;
    padding-right: 5px;
    padding-left: 5px;
    margin: 5px;
}


/* ====================================
DropDown
==================================== */


